.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.747000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.930664;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.934000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.747000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.747000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-1.605533px;}
.ls3{letter-spacing:-0.395885px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:3.408000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-3.408000px;}
.ws0{word-spacing:0.000000px;}
.ws2{word-spacing:1.605533px;}
._1{margin-left:-3.293011px;}
._0{margin-left:-1.205986px;}
._3{width:2.044800px;}
._2{width:3.339840px;}
._4{width:132.115555px;}
._5{width:2699.956330px;}
.fc2{color:rgb(255,255,255);}
.fc1{color:rgb(87,87,86);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:19.210400px;}
.fs6{font-size:21.993600px;}
.fs3{font-size:26.055200px;}
.fs7{font-size:27.112800px;}
.fs4{font-size:33.499600px;}
.fs5{font-size:68.160000px;}
.fs2{font-size:74.443600px;}
.fs0{font-size:186.108400px;}
.fs8{font-size:768.422000px;}
.y0{bottom:0.000000px;}
.y24{bottom:23.347700px;}
.y26{bottom:25.042000px;}
.y27{bottom:26.599615px;}
.y25{bottom:33.181200px;}
.y28{bottom:58.476000px;}
.y3{bottom:81.774100px;}
.y13{bottom:100.727369px;}
.y12{bottom:116.360489px;}
.y11{bottom:124.177049px;}
.y4{bottom:126.300300px;}
.y29{bottom:127.789000px;}
.y10{bottom:131.993609px;}
.yf{bottom:139.810169px;}
.ye{bottom:147.626729px;}
.yd{bottom:155.443289px;}
.y5{bottom:168.097200px;}
.yc{bottom:171.232740px;}
.yb{bottom:179.049300px;}
.ya{bottom:186.865860px;}
.y9{bottom:202.498980px;}
.y8{bottom:210.315540px;}
.y7{bottom:218.132100px;}
.y6{bottom:230.973000px;}
.y2{bottom:242.209500px;}
.y23{bottom:547.269479px;}
.y22{bottom:557.319359px;}
.y21{bottom:567.369239px;}
.y20{bottom:577.419119px;}
.y1f{bottom:587.468999px;}
.y1e{bottom:597.518879px;}
.y1d{bottom:607.568759px;}
.y1c{bottom:617.618639px;}
.y1b{bottom:646.847040px;}
.y1a{bottom:656.896920px;}
.y19{bottom:666.946800px;}
.y18{bottom:676.996680px;}
.y17{bottom:687.046560px;}
.y16{bottom:697.096440px;}
.y15{bottom:707.146320px;}
.y14{bottom:717.196200px;}
.y1{bottom:744.404800px;}
.h3{height:14.407800px;}
.h9{height:16.011942px;}
.h6{height:17.352763px;}
.h5{height:18.994241px;}
.ha{height:19.765337px;}
.h7{height:24.421208px;}
.h8{height:49.622344px;}
.h4{height:54.418272px;}
.h2{height:136.045240px;}
.hc{height:561.716482px;}
.hb{height:783.414000px;}
.h0{height:841.890000px;}
.h1{height:842.000000px;}
.w2{width:553.930000px;}
.w0{width:1106.930000px;}
.w1{width:1107.000000px;}
.x1d{left:-450.386400px;}
.x0{left:0.000000px;}
.xb{left:37.043521px;}
.xc{left:38.961373px;}
.xa{left:41.599467px;}
.x12{left:42.889201px;}
.x15{left:57.898400px;}
.x9{left:71.296862px;}
.x7{left:89.068400px;}
.xf{left:90.157137px;}
.x11{left:101.655875px;}
.x1b{left:103.543100px;}
.x8{left:107.610429px;}
.x10{left:111.663880px;}
.xd{left:122.961620px;}
.x1{left:140.789900px;}
.x4{left:153.556800px;}
.x13{left:166.176104px;}
.xe{left:174.919500px;}
.x3{left:195.398200px;}
.x2{left:197.987300px;}
.x5{left:204.899000px;}
.x14{left:211.576437px;}
.x17{left:222.284200px;}
.x6{left:262.800300px;}
.x16{left:313.099600px;}
.x19{left:404.362300px;}
.x1c{left:552.999000px;}
.x1a{left:578.719700px;}
.x18{left:964.821385px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-2.140710pt;}
.ls3{letter-spacing:-0.527846pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:4.544000pt;}
.ws1{word-spacing:-4.544000pt;}
.ws0{word-spacing:0.000000pt;}
.ws2{word-spacing:2.140710pt;}
._1{margin-left:-4.390681pt;}
._0{margin-left:-1.607981pt;}
._3{width:2.726400pt;}
._2{width:4.453120pt;}
._4{width:176.154074pt;}
._5{width:3599.941773pt;}
.fs1{font-size:25.613867pt;}
.fs6{font-size:29.324800pt;}
.fs3{font-size:34.740267pt;}
.fs7{font-size:36.150400pt;}
.fs4{font-size:44.666133pt;}
.fs5{font-size:90.880000pt;}
.fs2{font-size:99.258133pt;}
.fs0{font-size:248.144533pt;}
.fs8{font-size:1024.562667pt;}
.y0{bottom:0.000000pt;}
.y24{bottom:31.130267pt;}
.y26{bottom:33.389333pt;}
.y27{bottom:35.466154pt;}
.y25{bottom:44.241600pt;}
.y28{bottom:77.968000pt;}
.y3{bottom:109.032133pt;}
.y13{bottom:134.303158pt;}
.y12{bottom:155.147318pt;}
.y11{bottom:165.569398pt;}
.y4{bottom:168.400400pt;}
.y29{bottom:170.385333pt;}
.y10{bottom:175.991478pt;}
.yf{bottom:186.413558pt;}
.ye{bottom:196.835638pt;}
.yd{bottom:207.257718pt;}
.y5{bottom:224.129600pt;}
.yc{bottom:228.310320pt;}
.yb{bottom:238.732400pt;}
.ya{bottom:249.154480pt;}
.y9{bottom:269.998640pt;}
.y8{bottom:280.420720pt;}
.y7{bottom:290.842800pt;}
.y6{bottom:307.964000pt;}
.y2{bottom:322.946000pt;}
.y23{bottom:729.692639pt;}
.y22{bottom:743.092479pt;}
.y21{bottom:756.492319pt;}
.y20{bottom:769.892159pt;}
.y1f{bottom:783.291999pt;}
.y1e{bottom:796.691839pt;}
.y1d{bottom:810.091679pt;}
.y1c{bottom:823.491519pt;}
.y1b{bottom:862.462720pt;}
.y1a{bottom:875.862560pt;}
.y19{bottom:889.262400pt;}
.y18{bottom:902.662240pt;}
.y17{bottom:916.062080pt;}
.y16{bottom:929.461920pt;}
.y15{bottom:942.861760pt;}
.y14{bottom:956.261600pt;}
.y1{bottom:992.539733pt;}
.h3{height:19.210400pt;}
.h9{height:21.349256pt;}
.h6{height:23.137018pt;}
.h5{height:25.325654pt;}
.ha{height:26.353783pt;}
.h7{height:32.561611pt;}
.h8{height:66.163125pt;}
.h4{height:72.557695pt;}
.h2{height:181.393654pt;}
.hc{height:748.955309pt;}
.hb{height:1044.552000pt;}
.h0{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w2{width:738.573333pt;}
.w0{width:1475.906667pt;}
.w1{width:1476.000000pt;}
.x1d{left:-600.515200pt;}
.x0{left:0.000000pt;}
.xb{left:49.391362pt;}
.xc{left:51.948498pt;}
.xa{left:55.465956pt;}
.x12{left:57.185602pt;}
.x15{left:77.197867pt;}
.x9{left:95.062483pt;}
.x7{left:118.757867pt;}
.xf{left:120.209516pt;}
.x11{left:135.541166pt;}
.x1b{left:138.057467pt;}
.x8{left:143.480571pt;}
.x10{left:148.885174pt;}
.xd{left:163.948827pt;}
.x1{left:187.719867pt;}
.x4{left:204.742400pt;}
.x13{left:221.568139pt;}
.xe{left:233.226000pt;}
.x3{left:260.530933pt;}
.x2{left:263.983067pt;}
.x5{left:273.198667pt;}
.x14{left:282.101916pt;}
.x17{left:296.378933pt;}
.x6{left:350.400400pt;}
.x16{left:417.466133pt;}
.x19{left:539.149733pt;}
.x1c{left:737.332000pt;}
.x1a{left:771.626267pt;}
.x18{left:1286.428514pt;}
}
